
.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2em;
  font-weight: bold;
}


.navbar #myMenu .custom-nav .nav-item a {
  color: #fff;
}

.navbar #myMenu .custom-nav .nav-item a:hover {
  color: #F0AAB1;
}


.back-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 90vh;
  border-radius: 0px;
  margin-top: 74px;
}


.font-italic {
  font-size: 24px;
}

a {
  color: black;
}

.active {
  color: white;
  background-color: #000000;
}

a:hover {
  color: #000000;
}


.fi-color {
  color: #000000;
}

fi-color:hover {
  color: #000000;
}

.box {
  position: fixed;
  bottom: 10px;
  right: 20px;
  margin-bottom: 30px;
}


.mainHeading {
  margin-top: 50px;
}


@media only screen and (max-width: 600px) {
  .myclass {
    margin-top: 350px;
    text-align: center;
  }
}